<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
     style="width: 280px; height:100vh; position:fixed;">

    <a href="/"
       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">

        <i class="bi bi-shield-lock-fill fs-2 me-2"></i>

        <span class="fs-4">ASP</span>

    </a>

    <hr>

    <ul class="nav nav-pills flex-column mb-auto">

        <li class="nav-item">
            <a href="/" class="nav-link active">
                <i class="bi bi-speedometer2 me-2"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-folder2-open me-2"></i>
                Proyectos
            </a>
        </li>

        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-search me-2"></i>
                Escaneos
            </a>
        </li>

        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-robot me-2"></i>
                Inteligencia Artificial
            </a>
        </li>

        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-file-earmark-text me-2"></i>
                Reportes
            </a>
        </li>

        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-gear me-2"></i>
                Configuración
            </a>
        </li>

    </ul>

    <hr>

    <small class="text-secondary">

        AOR Security Platform

        <br>

        v{{ version }}

    </small>

</div>
